{erl_opts, [warnings_as_errors, debug_info]}.

{port_envs, [
    {"CFLAGS",      "$CFLAGS -Wall -pedantic-errors -std=c99 -O2"},
    {"DRV_CFLAGS",  "$DRV_CFLAGS -DLINT_ARGS -DIN_LMSGS -DDSI_64BIT"},
    {"DRV_LDFLAGS", "$DRV_LDFLAGS -lgctlib"}
]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{xref_checks, [undefined_function_calls]}.
